<!doctype html>
<html>
    <head>
        <title>
            Club Info ENSTA - Campus de Brest | {% block title %}{% endblock %}
        </title>
        <meta charset="utf-8" />
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v6.5.0/css/all.css"
        />
    </head>

    <body>
        <canvas id="bg-canvas"></canvas>
        <div class="pannel">
            <div class="pannel-wrapper">
                <div class="pannel-header">
                    <p>Club Info</p>
                    <div class="text-wrapper">
                        <p>ENSTA</p>
                        <i
                            class="fa-solid fa-circle"
                            style="
                                font-size: calc(0.33 * var(--text-size));
                                padding: 0 calc(0.5 * var(--text-size)) 0
                                    calc(0.5 * var(--text-size));
                            "
                        ></i>
                        <p>Brest</p>
                    </div>
                </div>
                <div class="pannel-menu-wrapper">
                    <div class="pannel-menu">
                        <div class="menu-highlight"></div>
                        <div class="menu-item">
                            <p>Home</p>
                        </div>
                        <div class="menu-item">
                            <p>Tutos</p>
                        </div>
                        <div class="menu-item">
                            <p>Nos Réseaux</p>
                        </div>
                        <div class="menu-item">
                            <p>Projets ENSTAsiens</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pannel-footer">
                <p>Club Info - ENSTA Campus de Brest @ 2026-2027</p>
            </div>
        </div>

        <div class="content">
            {% block content %}
            <!-- content -->
            {% endblock %}
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <script src="{{ url_for('static', filename='script-bg.js') }}"></script>
    </body>
</html>
