{% if not htmx %}
{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% endif %}


{% block content %}
<div class="header">
    <p class="header-title">Une idée ? Un projet à partager ?</p>
    <div class="header-input">
        <form class="header-input-form" method="POST" action="{{ url_for('home') }}">
            <div class="header-input-top">
                <input class="header-title-input" name="title" type="text" placeholder="Titre"></input>
                <input class="header-description-input" name="description" type="text" placeholder="Décris ton Idée / Projet"></input>
                <div class="form-row-top">
                    <select class="select-input" name="type-input" required>
                        <option value="" disabled selected>Type</option>
                        <option value="partage">Partager un projet</option>
                        <option value="idee">Idée</option>
                        <option value="aide">Demander de l'aide</option>
                        <option value="autre">Autre</option>
                    </select>
                </div>
            </div>
            <div class="header-input-bottom">
                <input class="header-author-input" name="author" type="text" placeholder="Nom"></input>
                <input class="header-link-input" name="link" type="url" placeholder="Lien du projet / lien image"></input>
                <div class="form-row-bottom">
                    <button class="button-input" type="submit">Publier le projet</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="home-content-wrapper">
    <div class="home-content">

        {% for project in data[0] %}
        <div class="card" onclick="window.open('{{ project.link }}', '_blank')">
            <img class="card-img" src="{{ project.image or '' }}"></imgç>

            <div class="card-content">
                <div class="card-title">
                    <p>{{ project.title }}</p>
                </div>

                <div class="card-description">
                    <p>{{ project.description }}</p>
                </div>
            </div>

            <div class="card-infos">
                <p>Par : {{ project.author }}</p>
                <p>le {{ project.date }}</p>
                <p>TYPE :  {{ project.type }}</p>
            </div>
        </div>
        {% endfor %}

        {% for news in data[1] %}
        <div class="poster" onclick="window.open('{{ news.link }}', '_blank')">

            <div class="poster-content">
                <div class="poster-top">
                    <div class="poster-title">
                        <p>{{ news.title }}</p>
                    </div>
                    <div class="poster-infos">
                        <p>le {{ news.date }}</p>
                    </div>
                </div>

                <div class="poster-bottom">
                    <div class="poster-description">
                        <p>{{ news.description }}</p>
                    </div>
                </div>
            </div>

            <img class="poster-img" src="{{ news.image or '' }}"></imgç>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
