{% if not htmx %} {% extends "base.html" %} {% block title %}Home{% endblock %}
{% endif %} {% block content %}
<div class="home-news-header">
    <div class="sliding-infos-wrapper" aria-label="Actualites du Club Info">
        <div class="sliding-infos-track">
            <div class="sliding-infos-group">
                {% for news in data[0] %}
                <div class="sliding-info">
                    <span class="sliding-info-type">{{ news.type }}</span>
                    <p>{{ news.text }}</p>
                </div>
                {% endfor %}
            </div>
            <div class="sliding-infos-group" aria-hidden="true">
                {% for news in data[0] %}
                <div class="sliding-info">
                    <span class="sliding-info-type">{{ news.type }}</span>
                    <p>{{ news.text }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="home-content-hero">
    <p class="title-hero-top">Club INFO</p>
    <p class="title-hero-bottom">ENSTA Campus de Brest</p>
</div>
{% endblock %}
