{% if not htmx %}
    {% extends "base.html" %}
    {% block title %}Home{% endblock %}
{% endif %}


{% block content %}
<div class="header">
    <p class="header-title">Cherche parmis les projets des ENSTAsiens et ENSTAsiennes de Brest</p>
    <div class="header-input">
        <input class="header-description" type="text" placeholder="Décris ton Idée / Projet"></input>
    </div>
</div>
<div class="home-content-wrapper">
    <div class="home-content">
        <div class="card">
        </div>
    </div>
</div>
{% endblock %}
